/* PINGENDO COMMENT DO NOT REMOVE */

.white-container {
    background: white;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 30px;
}

.backround-dark {
    background: #40834F;
}

.background-grey {
    background: #ececec;
}

.background-white {
    background: white;
}

.team-row {
    margin-bottom: 25px;
}

.no-margin-top {
    margin-top:0;
}

.card-item {
    margin-top: 10px;
}

.form-title {
    margin: 9px 0 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.list-group-item {
    border-color: #cccccc;
}


.fa-hospital-o {
    margin-top: 14px;
}

.bordered-folder {
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-top: 10px !important;

}

.input-in-table {
    width: 100%;
}

.well {
    margin-bottom: 0;
}


textarea {
    resize: none;
    width: 100%;
}

@media print {
    body * {
        visibility: hidden;
    }
    .fa {
        color: white;
    }
    .print, .print * {
        visibility: visible;
    }

    .print {
        position: absolute;
        left: 0;
        top: 0;
    }

    .not-print {
        display: none;
    }
}

.modal-body {
    overflow: scroll;
    max-height: 50%;
}


.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    margin-top: 0 !important;
}

.form-group.required label:after {
    content:"*";
    color:red;
}


.register-button {
    margin-bottom: 15px;
    width: 100%;
}

.well {
    border:0;
    background: #34383e;
    color: white;
}

#sidebar {
    position: relative;
}

.welcome-message {
    padding-top: 20px;
}

#sidebar-mobile {
    margin-top:20px;
}
@media (max-width: 992px) {

    .welcome-message {
        text-align: center;
    }

}

.label-telefon {
    padding:.4em .6em .3em
}

.img-responsive {
    margin:0 auto;
    max-height: 300px;
}

.img-logo {
    margin-top: 15px;
    max-height: 90px;
}

.shadow-box {
    background: #ececec;
    -webkit-box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.75);
    padding-top:15px;
}

.signin-form {
    background: #ececec;
    margin: 35px 20px;
}

.signin-logo {
    max-height: 90px;
    margin: 35px 20px;
    padding-right: 40px;
}